@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Ranchers&display=swap');

body{
	background-color: darkgoldenrod;
}

#menu{
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #534138;
	font-family: 'Suez One', serif;
	color: chocolate;
	z-index: 9999;
	position: fixed;
	left: 0;

}

#logo-bar{
	width: 50%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	left: 20px;
}

#logo-bar img{
	width: 40px;
	height: 40px;
}

#menu #menu-bar{
	width: 50%;
	float: right;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: right;
}

.menu-tab{
	position: relative;
	right: 20px;
}

#menu-bar a{
	text-decoration: none;
	color: chocolate;
}
#menu-bar a:hover{
	animation: color-change-hover 2s;
}

#menu-bar a:active{
	animation: color-change-active 1s;
}
@keyframes color-change-hover {
	from{color: chocolate;}
	to {color: burlywood;}
}

@keyframes color-change-active {
	from{color: burlywood;}
	to {color: red;}
}

.header{
	width: 100%;
	height: 10px;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 2px 2px white;
	background-color: coral;
}

.header span{
	background-color: lightcoral;
	position: relative;
	bottom: 10px;
}

#about{
	background-color: darkkhaki;
	position: relative;
	bottom: 20px;
}

#about p{
	font-family: 'Ranchers', cursive;
	font-size: 30px;
}
#about div{
	margin-right: 35%;
	margin-left: 35%;
}

#about div h1{
	font-size: 50px;
	position: relative;
	bottom: 20px;
	text-align: center;
	padding-right: 100px;
}

#about div img{
	height: auto;
	max-width: 100%;
}


#photos{
	font-family: 'Luckiest Guy', cursive;
	background-color: darkolivegreen;
	position: relative;
	bottom:100px;

}

h2{
	text-align: center;
}
.row{
	display: grid;
	justify-content: center;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
	grid-row-gap: 50px;
	position: relative;
	top:50px;
}

.col{
	position: relative;
	left: 50px;
}
.row .col img{
	width: 500px;
	height: 500px;
	max-width: 100%;
}

.row .col iframe{
	width: 500px;
	height: 500px;
	max-width: 100%;
}

#like{
	background-color: goldenrod;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	position: relative;
	bottom: 180px;
}
.table-cell{
	width: 300px;
	height: 150px;
}
#like #likes-head{
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 100px;
}
.table-cell h5{
	font-size: 20px;
	text-align: center;
	position: relative;
	bottom:13px
}

#like table{
	background-color: gold;
	position: relative;
	left: 35%;
	top: 135px;
}

#qrcoder{
	background-color: saddlebrown;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	position: relative;
	bottom: 200px;
}
#qrcoder div{
	background: darkorange;
	width: 400px;
	height: 400px;
	position: relative;
	top: 100px;
	left: 40%;
}

#qrcoder div img{
	position: relative;
	top:45px;
	left:5px;
}
#contact {
	text-align: center;
	background-color: wheat;
}

#sender{
	font-family: 'Chango', cursive;
	font-size: 25px;
	max-font-size: 25px;
	position: relative;
	top:50px;
}
label{
	position: absolute;
	left: 30%
}

input,textarea{
	position: absolute;
	left: 47%;
	width: 200px;
	max-width: 200px;
}

textarea{
	width: 300px;
	height: 150px;
	max-width: 300px;
}
@media only screen and (max-width: 1200px) {
	#menu{
		font-size: 12px;
	}
	#menu-bar .menu-tab{
		position: relative;
		top: 4px
	}
	.row{
		display: inline-grid;
		justify-content: center;
		grid-template-rows: 33.3% 33.3% 33.3%;
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	.col{
		position: relative;
		left: 180px;
	}
	.row .col img{
		width: 300px;
		height: 300px;
		max-width: 100%;
	}

	.row .col iframe{
		width: 300px;
		height: 300px;
		max-width: 100%;
	}

}

#playlist{
	font-family: 'Luckiest Guy', cursive;
	background-color: peru;
	position: relative;
	bottom: 140px;
}

@media only screen and (max-width: 800px) {
	#menu{
		font-size: 10px;
	}
	#menu-bar .menu-tab{
		position: relative;
		top: 5px

	}
}

@media only screen and (max-width: 660px) {
	#menu{
		font-size: 8px;
	}
	#menu-bar .menu-tab{
		position: relative;
		top: 7px

	}
}

/*body{
	background-color: cadetblue;
	counter-reset: likes 0;
}
#menu{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	width: 100%;
	height: 35px;
	z-index: 99999;
	background-color: #00aaff;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
}
#oldman{
	position: relative;
	bottom: 10px;
}
#side2{
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
}
a{
	font-family: 'Suez One', serif;
	color: white;
	text-decoration: none;
}
a:hover{
	color: blue;
}
.l{
	color: white;
}
a:active{
	color: red;
}
.section{
	font-family: 'Luckiest Guy', cursive;;
	text-align: center;
	text-shadow: 2px 2px white;
}
#about p{
	font-family: cursive;
	font-size: 30px;
	text-align: left;
	text-shadow: none;
}
#dwarf{
	position: relative;
	top: 100px;
}
#photoes,#videos{
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding-top: 125px;
	padding-left: 5px;
}
#photoes .images, .video{
	min-width: auto;
	width: 650px;
	height: 400px;

}
#photoes image,iframe{
	min-width: auto;
	width: 100%;
	height: 100%;
}
#photos h2{
	text-shadow: none;
}
#like-me{
	/*animation: color-change 1s infinite;
	background-color: chocolate;
	width: 150px;
	height: 30px;
	position: relative;
	top: 120px;
}

#like-me:checked{
	counter-increment: likes;
}



#thanks:before {
	content: counter(likes);
}
	/*animation: color-change-thx 2s infinite alternate ;
	position: relative;
	top: 200px;
	font-size: xx-large;
	text-shadow: none;


@keyframes color-change-thx {
	0% { color: black; }
	25% { color:grey; }
	50% {color : lightgrey}
	100% { color: white; }
}

#like-me:disabled,
button[disabled]{
	background-color: grey;
	animation: none;
}

@keyframes color-change {
	0% { color: red; }
	50% { color: blue; }
	100% { color: green; }
}

#likes{
	position: relative;
	top: 500px;
}
.facebook-like{
	display: inline-block;
	position: relative;
	right: 47%;
}
h1{
	width: 100%;
	height: 10px;
	background-color: #00aaff;
}

.table-cell{
	width: 150px;
	height: 50px;
}

table{
	position: absolute;
	left: 40%
}
h1 span {
	display: inline-block;
	min-width: 10%;
	position: relative;
	bottom: 10px;
	background-color: burlywood;
}
h5{
	position: relative;
	bottom: 10px;
}
.video{
	width: 650px;
	height: 400px;
}
iframe{
	width: 100%;
	height: 100%;
}
@media (max-width: 1950px) {
	#videos{
		grid-row-gap: 10px;
	}
	.video{
		width: 600px;
		height: 350px;
	}

}
@media (max-width: 1800px) {
	#videos{
		grid-row-gap: 10px;
	}
	.video{
		width: 550px;
		height: 300px;
	}

}
@media (max-width: 1650px) {
	#videos{
		grid-row-gap: 10px;
	}
	.video{
		width: 500px;
		height: 250px;
	}

}
@media (max-width: 1500px) {
	#videos{
		grid-row-gap: 10px;
	}
	.video{
		width: 450px;
		height: 200px;
	}

}
@media (max-width: 1350px) {
	body{
		overflow-x: hidden;
	}
	#side2{
		font-size: 13px;
	}
	#playlist{
		align-content: center;
		justify-content: center;
	}
	#videos,#photoes{
		grid-template-rows: 150px 150px 150px;
		grid-template-columns: 250px 250px;
		grid-row-gap: 120px;
		grid-column-gap: 10px;
		position: relative;
		left: 25%;
	}
	.video{
		width: 250px;
		height: 250px;
	}
	h1{
		width: 100%;
	}

}
@media screen and (max-width: 900px){
	#side2{
		font-size: 7px;
		position: relative;
		top: 5px
	}
}*/
