@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Ranchers&display=swap');

body{
	background-color: darkgoldenrod;
}

#menu{
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #534138;
	font-family: 'Suez One', serif;
	color: chocolate;
	z-index: 9999;
	position: fixed;
	left: 0;

}

#logo-bar{
	width: 50%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	left: 20px;
}

#logo-bar img{
	width: 40px;
	height: 40px;
}

#menu #menu-bar{
	width: 50%;
	float: right;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: right;
}

.menu-tab{
	position: relative;
	right: 20px;
}

#menu-bar a{
	text-decoration: none;
	color: chocolate;
}
#menu-bar a:hover{
	animation: color-change-hover 2s;
}

#menu-bar a:active{
	animation: color-change-active 1s;
}
@keyframes color-change-hover {
	from{color: chocolate;}
	to {color: burlywood;}
}

@keyframes color-change-active {
	from{color: burlywood;}
	to {color: red;}
}

.header{
	width: 100%;
	height: 10px;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 2px 2px white;
	background-color: coral;
}

.header span{
	background-color: lightcoral;
	position: relative;
	bottom: 10px;
}

#about{
	background-color: darkkhaki;
	position: relative;
	bottom: 20px;
}

#about p{
	font-family: 'Ranchers', cursive;
	font-size: 30px;
}
#about div{
	margin-right: 35%;
	margin-left: 35%;
}

#about div h1{
	font-size: 50px;
	position: relative;
	bottom: 20px;
	text-align: center;
	padding-right: 100px;
}

#about div img{
	height: auto;
	max-width: 100%;
}


#photos{
	font-family: 'Luckiest Guy', cursive;
	background-color: darkolivegreen;
	position: relative;
	bottom:100px;

}

h2{
	text-align: center;
}
.row{
	display: grid;
	justify-content: center;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
	grid-row-gap: 50px;
	position: relative;
	top:50px;
}

.col{
	position: relative;
	left: 50px;
}
.row .col img{
	width: 500px;
	height: 500px;
	max-width: 100%;
}

.row .col iframe{
	width: 500px;
	height: 500px;
	max-width: 100%;
}

#playlist{
	font-family: 'Luckiest Guy', cursive;
	background-color: peru;
	position: relative;
	bottom: 140px;
}

#like{
	background-color: goldenrod;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	position: relative;
	bottom: 180px;
}
.table-cell{
	width: 300px;
	height: 150px;
}
#like #likes-head{
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 100px;
}
.table-cell h5{
	font-size: 20px;
	text-align: center;
	position: relative;
	bottom:13px
}

#like table{
	background-color: gold;
	position: relative;
	left: 35%;
	top: 135px;
}

#qrcoder{
	background-color: saddlebrown;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	position: relative;
	bottom: 200px;
}
#qrcoder div{
	background: darkorange;
	width: 400px;
	height: 400px;
	max-width: 400px;
	position: relative;
	top: 100px;
	left: 40%;
}

#qrcoder div img{
	position: relative;
	top:50px;
}
#contact {
	text-align: center;
	background-color: wheat;
	font-family: 'Chango', cursive;
}

#sender{
	text-align: center;
	font-size: 25px;
	max-font-size: 25px;
	position: relative;
	top:50px;
}
label{
	position: absolute;
	left: 15%;
}

input,textarea{
	position: absolute;
	left: 55%;
	width: 200px;
	max-width: 200px;
}

textarea{
	width: 300px;
	height: 150px;
	max-width: 300px;
}

#sub{
	width: 100px;
	position: absolute;
	left: 420px;
	top:400px;
}
#selection{
	height: 21px;
	position: absolute;
	right: 100px;
	top: 147px;
}

#spa{
	background-color: darksalmon;
	position: relative;
	bottom: 220px;
}
@media only screen and (max-width: 1200px) {
	#menu{
		font-size: 12px;
	}
	#menu-bar .menu-tab{
		position: relative;
		top: 4px
	}
	.row{
		display: inline-grid;
		justify-content: center;
		grid-template-rows: 33.3% 33.3% 33.3%;
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}
	.col{
		position: relative;
		left: 180px;
	}
	.row .col img{
		width: 200px;
		height: 200px;
		max-width: 100%;
	}

	.row .col iframe{
		width: 200px;
		height: 200px;
		max-width: 100%;
	}
	#like table{
		position: relative;
		left: 20%;
	}

}

@media only screen and (max-width: 800px) {
	#menu{
		font-size: 10px;
	}
	#menu-bar .menu-tab{
		position: relative;
		top: 5px

	}
}

@media only screen and (max-width: 660px) {
	#menu{
		font-size: 8px;
	}
	#menu-bar .menu-tab{
		position: relative;
		top: 7px

	}
}
